/* Style for pagination active button */

.tablenav .tablenav-pages {
    float: right;
    margin: 0 0 9px;
}
.tablenav-pages .current-page {
    font-weight: bold;
    background-color: #2271b1;
    color: white;
    border: 1px solid #2271b1;
}

/* Style modal forms */
#ref-modal input[type="text"] {
    width: 100%;
    padding: 10px;
}

.table .highlight {
    background-color: #f9f9f9;
}

#fnd-import-overlay {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 9999;
    text-align: center;
    padding-top: 20%;
}

#fnd-import-overlay .spinner {
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #007cba;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

    /* edit  doctor page css start here */
    .fnd-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        max-width: 1100px;
    }
    .fnd-field label {
        display: block;
        font-weight: 600;
        margin-bottom: 6px;
    }
    .fnd-field input[type="text"],
    .fnd-field input[type="email"],
    .fnd-field input[type="number"],
    .fnd-field select {
        width: 100%;
        max-width: 100%;
    }
    .fnd-textareas {
        max-width: 1100px;
        margin-top: 20px;
    }
    .fnd-textareas .fnd-field {
        margin-bottom: 16px;
    }
    .fnd-textareas textarea {
        width: 100%;
        max-width: 100%;
    }

    .fnd-field .fnd-multi {
        width: 100%;
        min-width: 0;   
        max-width: 100%;
        height: 180px; /* adjust height to taste */
    }

    .fnd-multilselect .fnd-field {
        margin-bottom: 16px;
    }

/*profile image css start here*/
.fnd-img-row {
    display: grid;
    grid-template-columns: 140px 1fr;
    gap: 16px;
    align-items: start;
}
.fnd-img-preview {
    width: 140px;
    height: 140px;
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    overflow: hidden;
    background: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fnd-img-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


